@model IEnumerable<WebIdentity.Models.User>
@{
  ViewBag.Title = "Список пользователей";
}
 
<a asp-action="Create">Добавить пользователя</a>
 
<table class="table">
  <tr>
    <th>Email</th>
    <th>Год</th>
    <th></th>
  </tr>
  @foreach (var user in Model)
  {
    <tr>
      <td>@user.Email</td>
      <td>@user.Year</td>
      <td>
        <a href="@Url.Action("Edit","User", new { id = user.Id })">Изменить</a>
      </td>
      <td>
        <form action="User/Delete" method="post">
          @Html.Hidden("id", user.Id)
          <button type="submit">Удалить</button>
        </form>
      </td>
      <td>
        <a class="btn btn-sm btn-primary" href="@Url.Action("ChangePassword","User", new { id = user.Id })">Сменить пароль</a>
      </td>
    </tr>
  }
</table>